@mixin mq($viewport: null) {
  @media screen and (min-width: $viewport + 1) {
    @content;
  }
}
@mixin mq-max($viewport: null) {
  @media screen and (max-width: $viewport) {
    @content;
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}