@mixin mq($viewport: null) {
  @media screen and (min-width: $viewport + 1) {
    @content;
  }
}
@mixin mq-max($viewport: null) {
  @media screen and (max-width: $viewport) {
    @content;
  }
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin ul-reset {
  margin: 0 0;
  padding: 0 0;
  list-style: none;
}

@mixin text-small {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}