$color-white: #FFFFFF;
$color-text: #1F2020;
$color-milk: #F2F2F2;
$color-green: #7BB899;

$container-padding: 64px;
$container-padding-mobile: 24px;

$slider-aspect-ratio: 29.16666%;

$tab: 768px;
$lap: 1080px;
$desk: 1200px;

$breakpoints: (
  "tab" $tab,
  "lap" $lap,
  "desk" $desk
);