$color-white: #FFFFFF;
$color-text: #1F2020;
$color-bg: #E5E5E5;
$color-green: #7BB899;

$container-padding: 64px;
$container-padding-mobile: 24px;

$slider-aspect-ratio: 29.16666%;

$tab: 768px;

$breakpoints: (
  "tab" $tab,
);